.associates-partial-e72c3e {
    background: rgba(164, 164, 164, .3);
    margin-top: 1rem;
    padding: 3rem 0;
    .col-12{
        text-align: center;
        h2{
            font-family: 'Avenir-medium';
            color: #082808;
        }
        .content-logos{
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            justify-content: center;
            img{
                width: 100%;
                max-width: fit-content;
                margin: 1rem;
            }
        }
    }
}